*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
.idea/
.tmp/
Screen/
ScreenshotSetting/
app/.gitignore
app/.idea/
app/build.gradle
app/gradle/
app/gradlew
app/gradlew.bat
app/local.properties
app/proguard-rules.pro
app/release/
app/src/androidTest/
app/src/main/assets/
app/src/main/ic_launcher-playstore.png
app/src/main/java/com/anbn/pinout/MainActivity.java
app/src/main/java/com/anbn/pinout/StaticVariables.java

app/src/main/res/layout/activity_main.xml
app/src/main/res/layout/activity_two.xml

app/src/main/res/values/strings.xml

build-scan-data/
caches/
daemon/
gradle.properties
gradle/
gradlew
gradlew.bat
ic_launcher-playstore.png
manuals/
native/
private_key.pepk
settings.gradle
wrapper/
various_files/
app/build/intermediates/apk/debug/app-debug.apk

app/src/main/res/drawable/picture_background.jpg
/app/src/main/res/drawable/icon_chat.png
/app/src/main/res/drawable/icon_send.png
/app/src/main/res/drawable/icon_send_disable.png
/app/src/main/res/drawable/icon_send_enable.png
/app/src/main/java/com/anbn/pinout/MySQLConnector.java
